extends ../../layouts/layout.pug

block banner
  .page-header
    .page-header-bg(style="background-image: url('/img/header-2.jpg');" data-stellar-background-ratio='0.5')
    .container
      .row
        .col-md-offset-1.col-md-10.text-center
          h1.text-uppercase #{category.category_name}